@model IEnumerable<Shielf.Model.Book>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@* <div>
    <h4>ShielfBook</h4>
    <hr />
    @* <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.min_year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.min_year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.max_year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.max_year)
        </dd>
    </dl> *@

@* </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.author)
                 </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.description)
                 </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.year)
                 </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    @* <a asp-action="Details" asp-route-id="@item.id">Details</a> | *@
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>